<htm>
    <head></head>
    <body style="background-color:lightblue">

     <div style="margin:20%;width:50%;max-hieght:350px;border:1px solid grey;padding:4%;background-color:lightyellow">
         <h1 style="text-align:center;color:maroon"><u> Message for you</u></h1>

         <h2 style="color:green">

               {{message.k1}}

         </h2><br/>

         <h2 style="color:blue">
             {{message.k2}}
         </h2>



     </div>



    <script>
    function redirect(){
       window.location.href = "/";
    }

    setTimeout(redirect, 8500);
   </script>
    </body>
</htm>